html {
	margin: 0px;
	height: 100%;
	font-family: "Alata", sans-serif;
}

body {
	background-color: #582828;
	background-repeat: no-repeat;
	margin: 0px;
}

#body::after {
    content: '';
    display: block;
    height: 2.5rem;
}

#site_wrapper {
    position: relative;
    min-width: 100vh;
}


#navbar_wrapper {
    color: white;
    font-size: 30px;
    text-align: center;
	font-family: "Alata", sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar_right {
    float: right !important;
    padding-left: 0px;
}

td {
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}



#main_content_wrapper {
    padding-bottom: 2.5rem;
}

#heading {
    text-align: center;
    text-decoration: underline;
    font-size: 70px;
    color: white;
    margin-top: 100px;
}

#subheading {
    text-align: center !important;
    font-size: 40px;
    color: white;
    margin-top: 50px;
    font-family: "Fira Mono", monospace;
}

#desc {
    width: 60%;
    color: white;
    text-align: justify;
    font-size: 22.5px;
    margin: auto;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    color: white;
}