html {
	margin: 0px;
	height: 100%;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #5fadb9;
	background-repeat: no-repeat;
	margin: 0px;
	height: 100%;
}

#wrapperHeading {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('code.jpg');
	padding: 40px; 
}

#wrapperHeadingTickets {
	padding: 40px; 	
	background-image: url('tickets-dark.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#heading {
	color: #ffffff;
	font-family: "Alata", sans-serif;
	font-size: 7em;
	background-color: #5fadb9;
	text-align:	center;
	margin: 0px auto 0px auto;
	display: table;
	padding-left: 20px;
	padding-right: 20px;
}

#headingTickets {
	color: #ffffff;
	font-family: "Alata", sans-serif;
	font-size: 7em;
	background-color: #5fadb9;
	text-align:	center;
	margin: 0px auto 0px auto;
	display: table;
	padding-left: 20px;
	padding-right: 20px;
}

#subHeading {
	color: #5fadb9;
	font-family: "Alata", sans-serif;
	font-size: 40px;
	background-color: #ffffff;
	text-align:	center;
	margin: 0px auto 0px auto;
	display: table;
	padding-left: 20px;
	padding-right: 20px;
}

#subHeadingTickets {
	color: #ffffff;
	padding: 50px;
	font-family: inherit;
	font-size: 40px;
 	text-align: center;
 	margin: auto;
}
#ticketsHeading {
	color: #5fadb9;
	font-family: "Alata", sans-serif;
	text-align:	center;
	margin: 0px auto 0px auto;
	display: table;
	padding-left: 20px;
	padding-right: 20px;
}

.border {
	border-color: #5fadb9;
	border-width: 3px;
	border-style: solid;
	border-radius: 10px;
}

.inputField {
	font-size: 1em;
	width: fit-content;
	height: fit-content;
}

.paragraph {
	max-width: 1000px;
	display: block;
	font-size: 30px;
	font-family: inherit;
	text-align: center;
	margin: 0px auto 0px auto;
	background-color: #ffffff;
}

.wrapperParagraph {
	background-color: #ffffff;
	padding: 40px;
}

.between {
	font-size: 30px;
	padding: 20px;
}

#ticketsForm {
	padding: 40px;
}

#infoParagraph {
	margin: 0px auto 0px auto;
	padding: 40px;
	border-bottom-color: #f1f1f1;
	line-height: 1.5em;
	text-align: center;
}

#tickets {
	border-color: #5fadb9;
	border-width: 3px;
	border-style: solid;
	border-radius: 10px;
	font-family: "Alata", sans-serif;
	font-size: 1em;
	color: #000000;
	text-decoration: none;
	padding: 20px;
	background-color: #ffffff;
}

.margin40 {
	margin-bottom: 40px;
	margin-top: 40px;
}

#procHeading {
	color: #ffffff;
	display: table;
	background-color: #000000;
	font-family: "Source Code Pro Light", monospace;
	text-align:	center;
	margin: 0px auto 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}

#importantInfoHeading {
	color: #ffffff;
	display: table;
	background-color: #000000;
	font-family: "Source Code Pro Light", sans-serif;
	text-align:	center;
	margin: 20px auto 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}

#contactHeading {
	color: #ffffff;
	display: table;
	background-color: #000000;
	font-family: "Source Code Pro Light", sans-serif;
	text-align:	center;
	margin: 0px auto 0px auto;
	padding-left: 20px;
	padding-right: 20px;	
}

#contactParagraph {
	line-height: 1.5em;
}

.borderBottomSeparator {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #f1f1f1;
	padding-left: 30px;
	padding-right: 30px;
}

#footer {
	padding: 20px;
	background-color: #ffffff;
	text-align: right;
	font-size: 20px;
	font-family: "Alata", sans-serif;
}

#tickets:hover {
	background-color: #f1f1f1 !important;
}

.inlineTable {
	display: inline-table;
}

.alignLeft {
	text-align: left;
}

.alignRight {
	text-align: right;
}

.ls {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.lsitem {
  background-color: #ffffff;
  border-radius: 20px;
  width: 300px;
  min-width: 200px;
  padding: 20px;
}

.lsheading {
  font-family: "Fira Mono", monospace;
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
}

.lsheading a {
	color: #ffffff !important;
}

.lsitem a {
	color: #000000;
}

@media only screen and (max-device-width: 840px) {
	/* make it so that the "projects" are below each other */
}