html {
	margin: 0px;
	height: 100%;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #ffffff;
	background-repeat: no-repeat;
	margin: 0px;
	min-height: 100%;
	position: relative;
}

p {
	margin: 40px auto 40px auto;
}

a {
	color: #000000;
	background-color: #5fadb9;
	padding: 20px;
	border-radius: 10px;
}

.lsheading a {
	color: #ffffff !important;
	background-color: transparent !important;
	border-radius: 0px;
}

#wrapperHeading {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('code.jpg');
	padding: 40px; 
}

#heading {
	color: #ffffff;
	font-family: "Alata", sans-serif;
	font-size: 7em;
	background-color: #5fadb9;
	text-align:	center;
	margin: 0px auto 0px auto;
	display: table;
	padding-left: 20px;
	padding-right: 20px;
}

#subHeading {
	color: #5fadb9;
	font-family: "Alata", sans-serif;
	font-size: 40px;
	background-color: #ffffff;
	text-align:	center;
	margin: 0px auto 0px auto;
	display: table;
	padding-left: 20px;
	padding-right: 20px;
}

.paragraph {
	max-width: 1000px;
	display: block;
	font-size: 30px;
	font-family: inherit;
	text-align: center;
	margin: 0px auto 0px auto;
	background-color: #5fadb9;
}

#pp {
	text-align: justify;
}

.wrapperParagraph {
	background-color: #5fadb9;
	padding: 40px;
}

.between {
	font-size: 30px;
	padding: 20px;
}

#infoParagraph {
	margin: 0px auto 0px auto;
	padding: 40px;
	border-bottom-color: #bebebe;
	line-height: 1.5em;
	text-align: center;
}

#procHeading {
	color: #ffffff;
	display: table;
	background-color: #000000;
	font-family: "Fira Mono", monospace;
	text-align:	center;
	margin: 0px auto 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}

#importantInfoHeading {
	color: #ffffff;
	display: table;
	background-color: #000000;
	font-family: "Fira Mono", sans-serif;
	text-align:	center;
	margin: 20px auto 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}

#footer {
	padding: 20px;
	background-color: #ffffff;
	font-size: 20px;
	font-family: "Alata", sans-serif;
    bottom: 0;
	position: absolute;
}

.ls {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn {
	background-color: #ffffff;
}

.btn:hover {
	background-color: #bebebe;
}

.lsitem {
  background-color: #ffffff;
  border-radius: 20px;
  width: 300px;
  min-width: 200px;
  padding: 20px;
}

.lsitem a:hover {
	background-color: #4c8992;
}

.lsheading {
  font-family: "Fira Mono", monospace;
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
}

.lsheading a {
	color: #ffffff !important;
}

.lsitem a {
	color: #000000;
}

@media only screen and (max-device-width: 840px) {
	/* make it so that the "projects" are below each other*/
}